.container-login {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  background: linear-gradient(rgb(80, 79, 79), #1b43bd);
}

.forms {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.inputs-login {
  display: flex;
  flex-direction: column; 
}

input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #1B43BD;
  font-family: Helvetica;
  font-size: 20px;
  padding: 2%;
  width: 80%;;
  margin: 5%
}

.button-forms{
  display:  flex;
  margin-top: 5%;
}

.button { 
  margin-left: 20%;
  background-color: #4267b2;
  border: 1px solid #29487d;
  border-radius: 5px;
  font-weight: bold;
  line-height: 30px;
  padding: 3px 8px;
  color: white;
}

.trivia-logo {
  margin: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .trivia-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}